<section>
  <h1>{{ house.name }}</h1>
  <p><span>mls: </span><span>{{ house.mls }}</span></p>
  <p><span>street1: </span><span>{{ house.street1 }}</span></p>
  <p><span>street2: </span><span>{{ house.street2 }}</span></p>
  <p><span>city: </span><span>{{ house.city }}</span></p>
  <p><span>state: </span><span>{{ house.state }}</span></p>
  <p><span>zipcode: </span><span>{{ house.zipcode }}</span></p>
  <p><span>neighborhood: </span><span>{{ house.neighborhood }}</span></p>
  <p><span>salesPrice: </span><span>{{ house.salesPrice }}</span></p>
  <p><span>dateListed: </span><span>{{ house.dateListed }}</span></p>
  <p><span>bedrooms: </span><span>{{ house.bedrooms }}</span></p>
  <p><span>photos: </span><img src="{{ house.photos }}"></p>
  <p><span>bathrooms: </span><span>{{ house.bathrooms }}</span></p>
  <p><span>garageSize: </span><span>{{ house.garageSize }}</span></p>
  <p><span>squareFeet: </span><span>{{ house.squareFeet }}</span></p>
  <p><span>lotSize: </span><span>{{ house.lotSize }}</span></p>
  <p><span>description: </span><span>{{ house.description }}</span></p>
</section>