<section>
  <p>
    <label for="house-name">House Name:</label>
    <input [(ngModel)]="house.name" placeholder="name">
  </p>
  <p>
    <label for="house-mls">House MLS:</label>
    <input [(ngModel)]="house.mls" placeholder="mls">
  </p>
  <p>
    <label for="house-street1">House Street1:</label>
    <input [(ngModel)]="house.street1" placeholder="street1">
  </p>
  <p>
    <label for="house-street2">House Street2:</label>
    <input [(ngModel)]="house.street2" placeholder="street2">
  </p>
  <p>
    <label for="house-city">House City:</label>
    <input [(ngModel)]="house.city" placeholder="city">
  </p>
  <p>
    <label for="house-state">House state:</label>
    <input [(ngModel)]="house.state" placeholder="state">
  </p>
  <p>
    <label for="house-zipcode">House Zipcode:</label>
    <input [(ngModel)]="house.zipcode" placeholder="zipcode">
  </p>
  <p>
    <label for="house-neighborhood">House Neighborhood:</label>
    <input [(ngModel)]="house.neighborhood" placeholder="neighborhood">
  </p>
  <p>
    <label for="house-salesPrice">House Sales Price:</label>
    <input [(ngModel)]="house.salesPrice" placeholder="salesPrice">
  </p>
  <p>
    <label for="house-dateListed">House Date Listed:</label>
    <input [(ngModel)]="house.dateListed" placeholder="dateListed">
  </p>
  <p>
    <label for="house-bedrooms">House Bedrooms:</label>
    <input [(ngModel)]="house.bedrooms" placeholder="bedrooms">
  </p>
  <p>
    <label for="house-photos">House Photos:</label>
    <input [(ngModel)]="house.photos" placeholder="photos">
  </p>
  <p>
    <label for="house-bathrooms">House Bathrooms:</label>
    <input [(ngModel)]="house.bathrooms" placeholder="bathrooms">
  </p>
  <p>
    <label for="house-garageSize">House Garage Size:</label>
    <input [(ngModel)]="house.garageSize" placeholder="garageSize">
  </p>
  <p>
    <label for="house-squareFeet">House Square Feet:</label>
    <input [(ngModel)]="house.squareFeet" placeholder="squareFeet">
  </p>
  <p>
    <label for="house-lotSize">House Lot Size:</label>
    <input [(ngModel)]="house.lotSize" placeholder="lotSize">
  </p>
  <p>
    <label for="house-description">House Description:</label>
    <input [(ngModel)]="house.description" placeholder="description">
  </p>
</section>